.caja {
    width: 600px;
    height: 200px;
    background-color: aqua;
    font-size: 30px;
}
.boton {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: antiquewhite;
    font-size: 30px;
    text-align: center;
}
.boton:hover {
    background-color: brown;
    cursor: pointer;
}